<configuration>

    <!-- Console Appender for local development -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!-- Log format: include timestamp, thread name, log level, logger name, and message -->
            <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Root Logger -->
    <root level="DEBUG">
        <appender-ref ref="CONSOLE"/>
    </root>

    <!-- Customize logging levels for specific packages -->
    <logger name="com.monta" level="DEBUG"/>
    <logger name="io.micronaut" level="INFO"/>
    <logger name="org.hibernate" level="WARN"/>
    <logger name="io.netty" level="ERROR"/>

</configuration>