<configuration>

    <!-- Console Appender for standard log output -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%thread] - [%level] - [%logger{10}] - %X{request_id} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- JSON Appender for structured logging -->
    <appender name="JSON" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <includeCallerData>true</includeCallerData>
            <jsonGeneratorDecorator class="net.logstash.logback.decorate.PrettyPrintingJsonGeneratorDecorator"/>
        </encoder>
    </appender>

    <!-- Log levels for specific packages -->
    <logger name="com.monta.roamingPrices" level="DEBUG"/> <!-- Set to DEBUG for detailed project logs -->
    <logger name="io.micronaut" level="ERROR"/> <!-- Minimize Micronaut framework logs -->
    <logger name="org.hibernate" level="WARN"/> <!-- Hibernate-specific warnings -->
    <logger name="io.netty" level="ERROR"/> <!-- Netty logs -->
    <logger name="io.netty.handler.ssl" level="INFO"/> <!-- SSL-related logs -->
    <logger name="org.zalando.logbook.Logbook" level="TRACE"/> <!-- Logbook for HTTP requests -->
    <logger name="io.micronaut.http.client" level="WARN"/> <!-- Micronaut HTTP client warnings -->
    <logger name="net.javacrumbs.shedlock.core.DefaultLockingTaskExecutor" level="WARN"/> <!-- ShedLock logs -->

    <!-- Root Logger -->
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>